SECRET_KEY=your-super-secret-key-here
GOOGLE_CLIENT_ID=***************************************.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX******************************g

JWT_SECRET=your-*********************************tion
JWT_ALGORITHM=HS256
BACKEND_CORS_ORIGINS=["http://localhost:8000", "http://127.0.0.1:8000"]
NOTIFICORE_API_KEY=live********************************UqcThGX